body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #878787;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(135, 135, 135);
  font-size: 15px;
  font-weight: 100;
  line-height: 19px;
}

li::first-letter {
  text-transform: capitalize;
}

a {
  text-decoration: none;
}

small {
  font-size: 12px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  width: 64px;
  height: 64px;
}

.weather-temperature strong {
  margin: 0;
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -4px;
}

.weather-temperature .active {
  color: #878787;
  cursor: default;
}

.weather-forecast {
  margin-top: 20px;
  color: black;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.6;
}

.weather-forecast-temperature {
  font-size: 13px;
}

#weather-forecast-temp-min {
  opacity: 0.6;
}
